#scores {
    display: flex;
    gap: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    transition: opacity 0.3s;
}

.name {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: anywhere;
    text-align: center;
}

.score {
    font-size: 2.5rem;
}

.oturn #player2 {
    opacity: 0.5;
}

.xturn #player1 {
    opacity: 0.5;
}
