* {
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: black;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    margin: 0 auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 6px white;
}

.square:hover {
    cursor: pointer;
}

.o {
    width: 70%;
    height: 70%;
    border: 15px solid white;
    border-radius: 50%;
    position: absolute;
}

.x::before,
.x::after {
    content: "";
    position: absolute;
    top: 10%;
    height: 80%;
    left: 45%;
    width: 10%;
    background-color: white;
    border-radius: 3px;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.top {
    border-bottom-style: solid;;
}

.bottom {
    border-top-style: solid;;
}

.left {
    border-right-style: solid;
}

.right {
    border-left-style: solid;
}
